.gloabl-nav-text {
  position: relative;
  width: 1200px;
  height: 180px;
  overflow: hidden; }
  .gloabl-nav-text .chinese-text {
    margin-top: 70px;
    display: block;
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 26px;
    color: #444444; }
  .gloabl-nav-text .footer-text {
    color: #f7f5f5; }
  .gloabl-nav-text .english-text {
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #c1c1c1;
    font-size: 16px; }

.gloabl-nav-text.homepage {
  height: 210px; }
  .gloabl-nav-text.homepage .chinese-text {
    margin-top: 100px; }

.gloabl-more {
  position: relative;
  width: 1200px;
  height: 164px;
  overflow: hidden; }
  .gloabl-more .gloabl-more-text {
    position: relative;
    left: 50%;
    margin-left: -75px;
    margin-top: 59px;
    display: block;
    width: 150px;
    height: 46px;
    text-align: center;
    line-height: 46px;
    font-size: 12px;
    color: #444444;
    border: 1px solid #f5f5f5; }
    .gloabl-more .gloabl-more-text a {
      display: block;
      width: 100%;
      height: 100%;
      color: #2d2d2d; }
    .gloabl-more .gloabl-more-text:hover {
      border-color: #b9ab77; }

.gloabl-nav-text.tap .chinese-text {
  margin-top: 75px; }

.gloabl-nav-text.tap {
  height: 170px; }

@media (max-width: 768px) {
  .gloabl-nav-text {
    width: 100%;
    height: 80px;
    overflow: hidden; }
    .gloabl-nav-text .chinese-text {
      margin-top: 20px;
      display: block;
      width: 100%;
      height: 20px;
      text-align: center;
      line-height: 20px;
      font-size: 16px;
      color: #444444; }
    .gloabl-nav-text .footer-text {
      color: #f7f5f5; }
    .gloabl-nav-text .english-text {
      width: 100%;
      height: 20px;
      text-align: center;
      line-height: 20px;
      color: #c1c1c1;
      font-size: 12px; }

  .gloabl-more {
    position: relative;
    width: 100%;
    height: 90px;
    overflow: hidden; }
    .gloabl-more .gloabl-more-text {
      position: relative;
      left: 50%;
      margin-left: -60px;
      margin-top: 40px;
      display: block;
      width: 120px;
      height: 36px;
      text-align: center;
      line-height: 36px;
      font-size: 16px;
      color: #444444;
      border: 1px solid #f5f5f5; }
      .gloabl-more .gloabl-more-text:hover {
        border-color: grey; }

  .gloabl-nav-text.tap .chinese-text {
    margin-top: 30px; }

  .gloabl-nav-text.tap {
    height: 100px; }

  .gloabl-nav-text.homepage {
    height: 100px; }
    .gloabl-nav-text.homepage .chinese-text {
      margin-top: 50px; } }
.contact-us-m {
  display: none; }

.contact-us {
  width: 100%;
  height: 100px;
  background-color: #fff; }
  .contact-us .contact-center {
    position: relative;
    width: 1200px;
    height: 100%;
    background-color: #fff;
    margin: 0 auto; }
    .contact-us .contact-center .number {
      width: 266px;
      height: 100px;
      overflow: hidden; }
      .contact-us .contact-center .number .p1 {
        font-size: 12px;
        color: #323232;
        margin-top: 40px; }
      .contact-us .contact-center .number .p2 {
        font-size: 12px;
        color: #323232;
        margin-top: 10px; }
        .contact-us .contact-center .number .p2 a {
          color: #323232; }
    .contact-us .contact-center .contact-say {
      position: absolute;
      right: 0;
      top: 0;
      width: 400px;
      height: 100%; }
      .contact-us .contact-center .contact-say ul {
        width: 100%;
        height: 100%; }
        .contact-us .contact-center .contact-say ul li {
          width: 110px;
          height: 100%;
          float: left;
          font-size: 12px;
          text-align: right;
          line-height: 100px;
          margin-left: 21px; }

.contact-us.tag {
  background-color: #4d4d4d; }
  .contact-us.tag .contact-center {
    background-color: #4d4d4d; }

.contact-us.activites {
  width: 100%;
  background-color: #f7f5f5; }
  .contact-us.activites .contact-center {
    background-color: #f7f5f5; }

@media (max-width: 768px) {
  .contact-us {
    display: none; }

  .contact-us-m {
    display: block;
    width: 100%;
    height: 50px;
    border-top: 1px solid #6d6d6d;
    background-color: #fff; }
    .contact-us-m .contact-say {
      width: 100%;
      height: 100%;
      margin-top: 10px; }
      .contact-us-m .contact-say li {
        width: 33.3%;
        float: left;
        font-size: 12px;
        text-align: center;
        line-height: 20px; }
    .contact-us-m .waring {
      margin-top: -30px;
      width: 100%;
      height: 30px; }
      .contact-us-m .waring li {
        width: 100%;
        font-size: 12px;
        text-align: center; }
        .contact-us-m .waring li a {
          color: #000; }

  .contact-us.activites {
    display: none; } }
* {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.contact-us-m {
  display: none; }

.banner {
  width: 100%;
  margin-top: 160px; }
  .banner .banner-center {
    position: relative;
    width: 1200px;
    margin: 0 auto; }
    .banner .banner-center .banner-pic {
      width: 710px;
      height: 780px;
      background: url(../img/dress.jpg) no-repeat center;
      background-size: cover;
      overflow: hidden; }
      .banner .banner-center .banner-pic .pic-list {
        height: 415px;
        width: 106px;
        margin-top: 366px; }
        .banner .banner-center .banner-pic .pic-list li {
          width: 100%;
          height: 136px; }
          .banner .banner-center .banner-pic .pic-list li img {
            width: 90px;
            height: 120px;
            margin-left: 5px;
            margin-top: 6px; }
        .banner .banner-center .banner-pic .pic-list li.active {
          box-sizing: border-box;
          border: 3px solid #858585; }
    .banner .banner-center .dress-introduce {
      position: absolute;
      top: 0;
      right: 0;
      width: 416px;
      height: 780px;
      float: left;
      text-align: center;
      font-size: 16px; }
      .banner .banner-center .dress-introduce .title {
        width: 255px;
        height: 71px;
        border-left: 1px solid #cacaca;
        color: #2a2a2a;
        font-size: 30px;
        line-height: 71px; }
      .banner .banner-center .dress-introduce .english-text {
        width: 100%;
        margin-top: -15px;
        margin-left: -30px;
        color: #4c4c4c; }
      .banner .banner-center .dress-introduce .price {
        width: 100%;
        color: #c1c1c1;
        margin-top: 20px; }
      .banner .banner-center .dress-introduce .color {
        display: block;
        width: 312px;
        color: #c1c1c1; }
      .banner .banner-center .dress-introduce .chinese-text {
        display: block;
        width: 100%;
        text-align: left;
        color: #c1c1c1;
        font-size: 14px;
        margin-top: 24px; }
      .banner .banner-center .dress-introduce .introduce-btn {
        width: 100%;
        height: 45px; }
        .banner .banner-center .dress-introduce .introduce-btn span {
          display: block;
          height: 100%;
          width: 150px;
          border: 1px solid #cacaca;
          line-height: 45px;
          text-align: center;
          margin-top: 60px;
          margin-left: 135px;
          font-size: 12px;
          color: #2d2d2d; }
          .banner .banner-center .dress-introduce .introduce-btn span:hover {
            border-color: grey;
            background-color: #b9ab77; }
    .banner .banner-center .introduce-dress {
      width: 100%;
      height: 1046px;
      overflow: hidden; }
      .banner .banner-center .introduce-dress .dress-pic {
        width: 710px;
        height: 780px;
        background: url(../img/dress2.jpg) no-repeat center;
        background-size: cover;
        margin-top: 50px; }
      .banner .banner-center .introduce-dress .dress-text {
        width: 710px;
        height: 266px; }
        .banner .banner-center .introduce-dress .dress-text p {
          color: #6a6a6a;
          font-size: 14px;
          margin-top: 60px; }
        .banner .banner-center .introduce-dress .dress-text span {
          display: block;
          color: #6a6a6a;
          font-size: 16px;
          line-height: 24px; }
        .banner .banner-center .introduce-dress .dress-text .color {
          margin-top: 30px; }

.footer {
  width: 100%;
  height: 555px;
  background-color: #ddd; }
  .footer .footer-center {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 1px; }
    .footer .footer-center .new-product {
      position: relative;
      width: 75px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      color: #929292;
      font-size: 12px;
      background-color: #f7f5f5;
      margin-top: 100px;
      box-sizing: border-box; }
      .footer .footer-center .new-product p {
        position: absolute;
        top: 0;
        left: 115px;
        width: 40px;
        height: 30px;
        background-color: #f7f5f5; }
    .footer .footer-center .wriper {
      position: relative;
      width: 100%;
      height: 220px;
      margin-top: 40px; }
      .footer .footer-center .wriper .swiper-container {
        width: 100%;
        height: 100%; }
        .footer .footer-center .wriper .swiper-container .swiper-slide {
          width: 100%;
          height: 100%; }
          .footer .footer-center .wriper .swiper-container .swiper-slide img {
            margin-left: 43px; }
          .footer .footer-center .wriper .swiper-container .swiper-slide .first-img {
            margin-left: 0; }
      .footer .footer-center .wriper .go-next {
        position: absolute;
        top: 50%;
        left: -40px;
        margin-top: -25px;
        width: 32px;
        height: 50px;
        z-index: 99;
        background: url(../img/jtz.png) no-repeat center;
        background-color: #cacaca; }
      .footer .footer-center .wriper .go-right {
        position: absolute;
        left: 1210px;
        background: url(../img/jty.png) no-repeat center;
        background-color: #cacaca; }

/*# sourceMappingURL=wedding-dress.css.map */
